/* testimonial-wraper sec */
.testimonial-wraper {
  margin-top: 50px;
}
.section-sp3 {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  z-index: 1;
}
.thumb-wraper {
  display: inline-block;
  position: relative;
}
.thumb-wraper .bg-img {
  position: relative;
  z-index: -2;
  max-width: 100%;
}
.thumb-wraper ul li:first-child {
  position: absolute;
  top: 100px;
  left: 20px;
}
.thumb-wraper ul li a {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  box-shadow: 0 10px 60px 0 rgba(31, 34, 120, 0.1);
  transition: all 0.5s;
  position: relative;
}
.thumb-wraper ul li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumb-wraper ul li:after {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #565acf;
  transition: all 0.5s;
  z-index: -1;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 50%;
}
.thumb-wraper ul li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.thumb-wraper ul li:nth-child(3) {
  position: absolute;
  top: 100px;
  right: 20px;
}
.thumb-wraper ul li:nth-child(4) {
  position: absolute;
  right: 30px;
  bottom: 110px;
}
.thumb-wraper ul li:nth-child(5) {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.thumb-wraper ul li:nth-child(6) {
  position: absolute;
  left: 30px;
  bottom: 110px;
}
.slick-list,
.slick-slider {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  padding-bottom: 75px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.testimonial-slide .slick-arrow {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  background-color: #ffe4d5;
  color: #f17732;
  font-size: 24px;
  bottom: 0 !important;
  top: auto !important;
  transition: all 0.5s;
  font-size: 0;
  left: 20px !important;
  border: 1px solid #ffe4d5;
}
.testimonial-slide .slick-prev {
  top: 453px !important;
  bottom: 0 !important;
  left: 100px !important;
}
/* .testimonial-slide .slick-prev:before {
    content: "ï ";
    font-family: "Line Awesome Free";
    font-weight: 900;
    color: var(--primary);
    font-size: 24px;
} */
.testimonial-slide .slick-prev .fa-arrow-right {
  font-size: 25px;
  color: #f17732;
}
.testimonial-slide .slick-next .fa-arrow-left {
  font-size: 25px;
  color: #f17732;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  transform: translateZ(0);
}
.slick-track {
  width: 6270px;
  opacity: 1;
  transform: translate3d(-1710px, 0px, 0px);
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
  margin: 0;
  padding: 0;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  /* display: none; */
  width: 570px;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide .slider-item {
  width: 100%;
  display: inline-block;
}
.testimonial-bx {
  position: relative;
  border-radius: 40px 0 40px 40px;
  box-shadow: 0 0 30px rgba(185, 67, 0, 0.1);
  background-color: #f17732;
  padding: 50px;
  margin: 50px 20px 20px;
}
.testimonial-bx .testimonial-content p {
  line-height: 28px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 30px;
}
.testimonial-bx .client-info .name {
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
  font-size: 22px;
}
.testimonial-bx .client-info p {
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.testimonial-bx .quote-icon {
  position: absolute;
  top: -50px;
  left: 50px;
}
.testimonial-bx .quote-icon i {
  font-size: 36px;
  color: #f17732;
  width: 75px;
  height: 75px;
  text-align: center;
  background-color: #fff;
  line-height: 75px;
  border-radius: 20px;
  box-shadow: 0 10px 60px 0 rgba(31, 34, 120, 0.1);
}
.testimonial-bx:after {
  content: "ï„Ž";
  position: absolute;
  right: 40px;
  bottom: 20px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 92px;
  color: #fff;
  opacity: 0.3;
  line-height: 92px;
}
.mySwiper .autoplay-progress svg,
.mySwiper .autoplay-progress span {
  display: none;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  font-size: 36px;
  color: #f17732;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #ffe4d5;
  line-height: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 60px 0 rgba(31, 34, 120, 0.1);
  top: 420px;
  left: 100px;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  font-size: 36px;
  color: #f17732;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #ffe4d5;
  line-height: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 60px 0 rgba(31, 34, 120, 0.1);
  top: 420px;
  left: 30px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 25px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.testimonial-wraper .pt-img1 {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 100px;
  animation: left-right 2s infinite alternate;
}
.testimonial-wraper .pt-img2 {
  position: absolute;
  z-index: -1;
  top: 550px;
  left: 100px;
  animation: mover 1s infinite alternate;
}

.testimonial-wraper .pt-img3 {
  position: absolute;
  z-index: -1;
  top: 50px;
  right: 100px;
  animation: spin 5s linear infinite;
}

.testimonial-wraper .pt-img4 {
  position: absolute;
  z-index: -1;
  top: 550px;
  right: 120px;
  animation: spin 5s linear infinite;
}

@media only screen and (max-width: 992px) {
  .slick-list,
  .slick-slider {
    left: 50px;
  }
  .slick-slide {
    width: auto;
  }
  .testimonial-wraper .pt-img1 {
    top: 155px;
    left: 100px;
  }
  .slick-slide .slider-item {
    margin-left: -50px;
  }
  .testimonial-bx {
    margin: 50px 50px 20px;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    top: 400px;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    top: 400px;
  }
}

@media only screen and (max-width: 575px) {
  .testimonial-wraper {
    padding-top: 20px;
  }
  .thumb-wraper {
    padding: 15px;
  }
  .testimonial-slide {
    padding-bottom: 100px;
  }
  .slick-list,
  .slick-slider {
    left: 0px;
  }
  .slick-slide {
    /* display: none; */
    width: auto;
    float: left;
    height: 100%;
    min-height: 1px;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    top: 525px;
    left: 100px;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    top: 525px;
    left: 30px;
  }
  .testimonial-wraper .pt-img1,
  .testimonial-wraper .pt-img2,
  .testimonial-wraper .pt-img3,
  .testimonial-wraper .pt-img4 {
    display: none;
  }
  .testimonial-bx {
    margin: 40px -15px 20px 100px;
    padding: 30px;
  }
  .testimonial-bx .testimonial-content p {
    font-size: 15px;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 55px;
    top: 475px;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    left: 120px;
    top: 475px;
  }
}
@media only screen and (max-width: 350px){
  .testimonial-bx {
    margin: 37px -15px 20px 67px;
    padding: 20px;
}
}